body{
  font-family: "roboto";
  font-weight: 400;
  font-size: 16px;
line-height: 150%;
letter-spacing: 0.5px;
}

:focus{
 outline: 2px dotted #ff7500;
}


.logo{
width: 177px;
  height: 38px;
  display: block;

}

.site-header{
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 5px solid #ff7500;
  padding-top: 16px;
  padding-bottom: 16px;

}

.logo:hover{
  opacity: 0.8;
}

.logo:active{
  opacity: 0.6;
}

.logo{
  transition: opacity 0.4s ease;
}

.nav-links{
display: flex;
align-items: center;

}


.site-nav{
list-style: none;
display: flex;
padding: 0;
 margin: none;
 margin-right: 32px;
}

.site-link-nav{
  font-family: "Roboto","Arial", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 500px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
  transition: color 0.4s ease,
  opacity 0.3s ease ;

}


.site-nav-item{
  margin-right: 32px;
}

.site-nav-item:last-child{
  margin: 0;
}

.site-link-nav:hover{
  color: #ff7500;
}

.site-link-nav:active{
  opacity: 0.6;
}

.register-button{
  width: 155px;
  height: 25px;
background-color: #ff7500;
color: #fff;
text-decoration: none;
font-family: "Roboto","Arial", sans-serif;
transition: opacity 0.4s ease;
padding: 12px 24px;
display: inline-block;
border-radius: 4px;
font-weight: bold;
}

.register-button:hover{
  opacity: 0.8;
}

.register-button:active{
  opacity: 0.6;
}


.hero-section{
  background-color: #252420;
  width: 1440px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.hero-img{
  border-radius: 8px;
}



.line-hr{
  width: 93px;
  height: 3px;
  background-color: #ff7500;
border: none;
margin:0;
margin-bottom: 40px;
}

.hero-heading{
  margin: 0;
  margin-bottom: 24px;
  font-family: "Roboto Condenced","sans-serif";
 font-style: normal;

 font-size: 40px;
 line-height: 1.2px;
 letter-spacing: 0.5px;

}

.hero-text{
  margin: 0;
  margin-bottom: 24px;
}

.order-box{
  width: 152px;
  height: 39px;
  transition: opacity 0.4s ease;
}


.order-box:hover{
  opacity: 0.8;
}

.order-box:active{
  opacity:0.6;
}

.order-book{
  font-family: "roboto","sans-serif";
font-weight: 700;
font-size: 13px;
letter-spacing: 0.5px;
background-color: #ff7500;
text-decoration: none;
color: #fff;
padding: 12px 24px;
border-radius: 4px;

}

.features-link{
  display: flex;
  list-style: none;

  padding: 0;
  margin: 0;
}

.feature-section{
 padding-top: 210px;
  background-color: #fff;
  padding-bottom: 210px;
}



.feature-icon{
  width: 340px;
  margin-right: 40px;

}

.feature-icon:last-child{
  margin: 0;
}


.feature-heading{
  font-family: 'roboto condenced ',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 86.4px;
  letter-spacing: 0.5px;
  margin: 0;
  margin-bottom: 72px;
}



.feature-icon-box{
width: 100px;
height: 100px;
background-color: rgb(255, 117, 0, 0.2);
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;

}

.feature-title{
  font-family: 'roboto condenced';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.5px;
  color: #000;
  line-height: 1.5px;
}


.promo{
width: 1100px;
background-color: #252420;
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 120px;
padding-bottom: 160px;
border-radius: 12px;
}

.promo-content{
  width: 440px;
  transition: opacity 0.4s ease ;
}

.promo-heading{
  font-family: 'roboto condenced';
 font-style: normal;
 font-weight: 700;
 font-size: 40px;
 line-height: 48px;
 letter-spacing: 0.5px;
 color: #fff;
 margin: 0;
 margin-bottom: 24px;
}

.promo-text{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
   line-height: 15px;
   letter-spacing: 0.5px;
   color: #fff;
   margin-top: 0;
   margin-bottom: 12px;
}

.promo-text:last-child{
  margin-bottom: 0;
}

.promo-text-marg{
margin-bottom: 24px;
}

.promo-highlite{
  color: #ff7500;
}

.order-book:hover{
  opacity: 0.8;
}

.order-book:active{
  opacity: 0.6;
}

.footer{
  background-color: #f8f8f8;
}

.icon-link{
  width: 24px;
  height: 24px;


}

.site-footer ul{
  list-style: none;
  padding-top: 56px;
  padding-bottom: 56px;
}


.site-footer-hr {
  margin-top: 40px ;
  margin-bottom: 64px;
}

.footer-list{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.icon-list {
  display: flex;
  align-items: center;
   padding: 0;
   margin: 0;

}

.icon-list li{
  margin-right: 16px;
  display: block;
}


.icon-list li:last-child{
  margin-right: 0;
}

.icon-list a{
color: #222;
transition: color 0.4s ease,
  opacity 0.4s ease;
  display: block;
}

.icon-list a:hover{
  color: #ff7500;
}

.icon-list a:active{
  opacity: 0.6;
}



.footer-links{
  display: flex;


}

.footer-links ul{
  padding: 0;
  margin: 0;
  margin-right: 68px;
}

.footer-links ul:last-child{
  margin-right: 0;
}

.site-footer-hr{
height: 2.5px;
background-color: rgb(37, 36, 32, 0.5);
border: 0;
}

.footer-links a{
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #252420;
  transition: color 0.4s ease;

}


.footer-links a:hover{
  color: #ff7500;
}

.footer-links a:active{
  opacity: 0.6;
}